
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #F0F2F5;
}

.container{
    display: flex;
    margin: 50px auto;
    max-width: 1280px;

}

.logo{
    margin: 20px 0;
    text-align: center;

}
.logo img{
    max-width: 250px;
    width: 100%;
}

.box-login h3{
    text-align: center;
    font-weight: normal;
    font-size: 24px;
}

.box-login-users{
    display: flex;
    max-width: 500px;
    margin: 10px auto;
    justify-content: space-evenly;
}

.box-login-user-single{
  /*  width: 31%;
    margin-right: 2%;
  */
  margin: 0 3px;
    transition: 0.3s;
}

.box-login-user-single img{
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: block;
    

}

.box-login-user-single:hover{
    box-shadow: 3px 4px 3px 3px rgba(0, 0, 0, 0.049);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.box-login-users p{
    width: 100%;
    text-align: center;
    color: black;
    font-size: 17px;
    background-color: white;
    padding: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.176);
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.039);
}

.box-login-user-single{
    position: relative;

}

.box-user-close{
    position: absolute;
    left: 3px;
    right: 3px;
    cursor: pointer;
    transition: 0.3s;
    
}

.box-user-close span {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.356);
    width: 20px;
    height: 20px;
    display: inline-block;
    color: white;
    border-radius: 10px;
}

.box-login-user-single:hover .box-user-close {
    transform:scale(1.1,1.1);
    
}

.box-form {
    margin: 90px auto;
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.13);
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.079);
}

.box-form input[type=email], 
.box-form input[type=password]
{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.box-form input[type=submit]{
    background-color: #166FE5;
    border: 0;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;

}

a.esqueceu-senha{
    color: #166FE5;
    display: block;
    margin: 20px 0;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
}

a.esqueceu-senha:hover{
    text-decoration: underline;
}

a.criar-conta{
    margin: 10px auto;
    display: block;
    text-align: center;
    background-color: #3bc020;
    border: 0;
    width: 60%;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
}

a.criar-conta:hover{
    background-color: hwb(110 12% 40%);
}

@media screen and (max-width:768px) {
    .container{
        flex-direction: column;
    }
}